# dependencies
/node_modules

# next
/.next
/out

# local env files
.env*
!.env.example

# common secret artifacts
*.pem
*.key
*.crt
*.cer
*.p12
*.pfx
*.der
*.secret
*.credentials

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# infra sensitive parameter files (production/local)
infra/bicep/parameters.prod.json
infra/bicep/*.local.parameters.json
